---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelID=UCDQ0pYBbR3rGWnn-BZJ9lXA&key=AIzaSyB-uG9g3NPqpnwDvY98SysVCE152uLRslU&part=snippet&q=asdfasdfasfgsadfgadsgeadsgerwtvsdb&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Sun, 12 Nov 2023 02:57:26 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=MFj4o1KhZp68gwbQrNS_JHhXjtajRI43_8r-MJ_YGds&query=asdfasdfasfgsadfgadsgeadsgerwtvsdb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Sun, 12 Nov 2023 02:57:26 GMT
recorded_with: VCR 6.2.0
